* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.alturaBoton1 {
    height: 5rem;
    background-color: rgb(200, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
}

.alturaBoton2 {
    height: 5rem;
    background-color: rgb(210, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
}

.alturaBoton3 {
    height:  5rem;
    background-color: rgb(237, 103, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
}

.alturaBoton1:hover {
    background-color: rgb(85, 204, 247);
}

.alturaBoton2:hover {
    background-color: rgb(35, 121, 187);
}

.alturaBoton3:hover {
    background-color: rgb(35, 109, 128);
}

.slider {
    height: 25rem;
    background-color: white;
    background-image: url(images/cartaChica.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider2 {
    height: 8rem;
    background-color: rgb(140, 101, 239);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja1 {
    background-color: rgb(177, 238, 185);
    background-image: url(images/correcto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 10px;
    height: 22rem;
    transition:0.3s; 
}

.caja2 {
    background-color: rgb(238, 182, 177);
    background-image: url(images/nolike.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 10px;
    height: 22rem;
    transition: 0.3s; 
}

.caja1:hover {
    background-color: lime;
}

.caja2:hover {
    background-color: crimson;
}

.copyright {
    height: 7rem;
    background-color: rgb(137, 83, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;
    
}

.copyright h1{
    color: black;
    height: 15px;
}